@(keyword: String, category: String, navigationResult: NavigationResult)(implicit request: RequestHeader)
@cartButtonInner = {Détails <span class="glyphicon glyphicon-search"></span>}

<div class="row">
    @for((product, index) <- navigationResult.products.zipWithIndex) {
        <div class="clearfix visible-xs-block"></div>
        <hr class="visible-xs-block"/>
        @if((index+1)%2==1) {
            <div class="clearfix visible-sm-block"></div>
            <hr class="visible-sm-block"/>
        }
        @if((index+1)%4==1) {
            <div class="clearfix visible-md-block"></div>
            <hr class="visible-md-block"/>
        }
        @if((index+1)%6==1) {
            <div class="clearfix visible-lg-block"></div>
            <hr class="visible-lg-block"/>
        }
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="productbox">

                <div class="row">

                    <div class="product-title" title="@product.headline">
                        @product.headline
                    </div>
                    <div class="product-subtitle text-muted" title="@product.caption">
                        @if(!product.caption.isEmpty) {
                            @product.caption
                        }else{
                            &#8239;
                        }
                    </div>
                    <div class="product-img-wrapper col-xs-6 col-sm-12">
                        <a href="/offer/buy/@product.id/@product.urlName">
                            <img width="120" height="120" src="@product.imagesUrls"  class="img-responsive product-img"/>
                        </a>
                    </div>

                    <div class="buy-price-box-wrapper col-xs-6 col-sm-12">
                        <div class="buy-price-box">

                            <div class="starsbox">
                                @for(incr <- 1 to 5){
                                    @if(product.reviewsAverageNote >= incr) {
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    } else {
                                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    }
                                }
                            </div>
                            <div class="price-wrapper">
                                <span class="price new-price">
                                    @if(product.newBestPrice > 0 && navigationResult.hasNewProducts) {
                                        @product.formattedNewBestPrice € <em style="font-size: x-small">en neuf</em>
                                    }
                                    &nbsp;
                                </span>
                            </div>

                            <div class="price-wrapper">
                                <span class="price used-price">
                                    @if(product.usedBestPrice > 0 && navigationResult.hasUsedProducts) {
                                        @product.formattedUsedBestPrice € <em style="font-size: x-small">d'occasion</em>
                                    }
                                    &nbsp;
                                </span>
                            </div>
                            <div class="productprice">
                                <div class="visible-xs-block">
                                    <a href="/offer/buy/@product.id/@product.urlName" class="btn btn-danger btn-sx add-to-cart-button" role="button">
                                        @cartButtonInner
                                    </a>
                                </div>
                                <div class="visible-sm-block visible-md-block">
                                    <a href="/offer/buy/@product.id/@product.urlName" class="btn btn-danger btn-sm btn-block add-to-cart-button" role="button">
                                        @cartButtonInner
                                    </a>
                                </div>
                                <div class="visible-lg-block">
                                    <a href="/offer/buy/@product.id/@product.urlName" class="btn btn-danger btn-block add-to-cart-button" role="button">
                                        @cartButtonInner
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }
</div>
@if(navigationResult.totalResultProductsCount > navigationResult.resultProductsCount) {
    <div class="clearfix nextPageButtonWrapper">
        <hr/>
        <div class="well center-block text-center">
            <button type="button" class="btn btn-default btn-lg" onclick="example.NavigationAjaxJS().getNextProducts('@keyword', '@category', @navigationResult.nbPages)">
                Voir les prochains produits
            </button>
        </div>
    </div>
}

@if(navigationResult.reloadFilters){
    <div id="ajaxFilters" style="display:none">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div>
                        <a class="navbar-brand" href="#">Filtres</a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#main-nav-categories">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main-nav-categories">
                    <div class="clearfix"></div>
                    <div class="list-group">
                        @if(navigationResult.isLocalSearch){
                            <a class="deleteFilter list-group-item" href="/nav/@category">Supprimer "@keyword"</a>
                            <a class="deleteFilter list-group-item" href="/s/@keyword">Supprimer "@navigationResult.formattedCategory"</a>
                        }
                        @if(navigationResult.isNav && navigationResult.removeLastCategoryUrl != ""){
                            <a class="deleteFilter list-group-item" href="/nav/@navigationResult.removeLastCategoryUrl">Supprimer la dernière catégorie</a>
                        }
                        @for(cat <- navigationResult.categories){
                            @if(navigationResult.isSearch || navigationResult.isLocalSearch){
                                <a href="/s/@keyword?nav=@cat.name" class="list-group-item">@cat.label (@cat.productsCount)</a>
                            }else{
                                <a href="/nav/@cat.name" class="list-group-item">@cat.label (@cat.productsCount)</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </nav>

    </div>
}


