
/* Suggest list */
#suggestContainer {
    position: absolute;
    z-index: 1000;
    background-color:#e8e8e8;
    margin-left: 14px;
    margin-right: 14px;
}

#suggestContainer.active{
    border: 1px solid #A9A9A9;
}


#suggestContainer ul li a {
    text-decoration:none;
    display: block;
}

#suggestContainer ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

#suggestContainer li {
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom:5px;
}

#suggestContainer li:hover {
    background-color: #A9A9A9;
}


/*
* Layout Header
*/
#navbar-wrapper {
    padding-bottom:0;
    margin-bottom:12px;
    border:0;
    box-shadow:none;
    background-color:#bf0000;
}
    /* Partie blanche du header : logo */
    #logo-nav-bar {
        height:70px;
        margin-top:0;
        padding-top:0;
        background:white;
    }
        #logo-nav-bar .navbar-brand
        , #logo-nav-bar .navbar-brand amp-img{
            margin-top:0;
            padding-top:10px;
        }

    /* Partie rouge du header : recherche et liens */
    #real-nav-bar {
        background-color:#bf0000;
        height:44px;
        padding-top:0;
        padding-bottom:0;
        margin-bottom:0;
    }
        #real-nav-bar > div.navbar-header {
        }
            #main-navbar-collapse-wrapper {
                background-color:#bf0000;
            width:100%;
            }
                #main-navbar-collapse-wrapper .navbar-nav {
                    display:inline;
                    height:44px;
                }

                    /* Bouton toogle (en vue mobile) */
                    #toogle-main-nav-button {
                        background-color:#e8e8e8;
                        margin:0;
                        margin-bottom:6px;
                    }
                    #toogle-main-nav-button:hover {
                        color:#bbb;
                    }

                    /* Recherche */
                    #main-search-caterogy-wrapper {
                        padding-right:6px;
                        padding-left:6px;
                    }
                        #main-search-caterogy-wrapper {
                            width:100%;
                        }
                            #main-search-caterogy-selector
                            , #main-search-input-wrapper{
                                margin-top:7px;
                                width:100%;
                            }
                    #main-search-input-wrapper {
                        padding-right:6px;
                        padding-left:6px;
                    }
                        #main-search-input {
                            width:100%;
                        }
                        #main-search-input-wrapper .input-group-addon {
                            padding:0;
                        }
                            #main-search-button {
                                background:transparent;
                                margin:0;
                                border:0;
                                height:28px;
                            }

                    /* Liens */
                    #main-navbar-collapse-wrapper .navbar-nav li
                    , #main-navbar-collapse-wrapper .navbar-nav li.active{
                        height:44px;
                    }
                        #main-navbar-collapse-wrapper .navbar-nav li a
                        , #main-navbar-collapse-wrapper .navbar-nav li.active a{
                            background:transparent;
                            color:white;
                            padding:12px;
                            padding-left:10px;
                            padding-right:10px;
                            display:inline-block;
                        }
                        #main-navbar-collapse-wrapper .navbar-nav li a
                        , #main-navbar-collapse-wrapper .navbar-nav li.active a{
                            font-weight:bold;
                        }
                        #main-navbar-collapse-wrapper .navbar-nav li a:hover{
                            background:#af0000;
                        }
                        #main-navbar-collapse-wrapper .navbar-nav li a.panier{
                            margin-right:15px;
                        }
                            #main-navbar-collapse-wrapper .navbar-nav li .glyphicon{
                                font-size:.9em;
                                line-height:2px;
                                margin-right:4px;
                            }



/* XS */
@media (max-width: 767px) {

    #navbar-wrapper {
        height:182px;
    }
        #logo-nav-bar {
            z-index:4;
            position:relative;
        }
        #real-nav-bar {
             height:105px;
            z-index:3;
         }
            #real-nav-bar > div.navbar-header {
                height:104px;
                padding-left:15px;
                padding-right:15px;
            }
                #main-navbar-collapse-wrapper {
                    background-color:#bf0000;
                    border:none;
                    z-index:2;
                    position:absolute;
                    top:70px;
                    right:0px;
                    margin:0;
                    padding-left:22px;
                    padding-right:22px;
                    width:100%;
                }
                    #main-navbar-collapse-wrapper .navbar-right li a {
                        width:100%;
                    }

                /* Recherche */
                #main-navbar-search-form {
                    margin-bottom:0;
                }
                        #main-search-caterogy-wrapper {
                            padding-left:14px;
                            padding-right:14px;
                            z-index:1;
                        }
                        #main-search-input-wrapper {
                            padding-left:14px;
                            padding-right:14px;
                            z-index:1;
                        }
                        /* Bouton toogle (en vue mobile) */
                        #toogle-main-nav-button {
                            position:absolute;
                            top:18px;
                            right:14px;
                            z-index:4;
                            margin:0;
                            margin-bottom:6px;
                            background-color:#bf0000;
                            color:white;
                        }
                            #toogle-main-nav-button .icon-bar{
                                background-color:white;
                                color:white;
                            }
                        #toogle-main-nav-button:hover {
                            background-color:#bf0000;;
                            color:white;
                        }
}



/* Between SM & MD */
@media (min-width: 890px) {
    #main-search-caterogy-wrapper
    , #main-search-input-wrapper
    , #main-navbar-collapse-wrapper .navbar-nav li a
    , #main-navbar-collapse-wrapper .navbar-nav li.active a {
        padding-right:7px;
        padding-left:7px;
    }
    #searchInput {
        width:280px;
    }
}
/* MD */
@media (min-width: 992px) {
    #searchInput {
        width:350px;
    }
    #main-search-caterogy-wrapper
    , #main-search-input-wrapper
    , #main-navbar-collapse-wrapper .navbar-nav li a
    , #main-navbar-collapse-wrapper .navbar-nav li.active a {
        padding-right:10px;
        padding-left:10px;
    }
}
/* Between MD & LG */
@media (min-width: 1080px) {
    #searchInput {
        width:440px;
    }
}
/* LG */
@media (min-width: 1200px) {
    #searchInput {
        width:570px;
    }
}
/* Greater than LG */
@media (min-width: 1400px) {
    #searchInput {
        width:700px;
    }
}
/* Giant */
@media (min-width: 1600px) {
    #searchInput {
        width:900px;
    }
    #main-search-caterogy-wrapper
    , #main-search-input-wrapper
    , #main-navbar-collapse-wrapper .navbar-nav li a
    , #main-navbar-collapse-wrapper .navbar-nav li.active a {
        padding-right:15px;
        padding-left:15px;
    }
}
/* Super-Giant */
@media (min-width: 1800px) {
    #searchInput {
        width:1100px;
    }
    #main-search-caterogy-wrapper
    , #main-search-input-wrapper
    , #main-navbar-collapse-wrapper .navbar-nav li a
    , #main-navbar-collapse-wrapper .navbar-nav li.active a {
        padding-right:18px;
        padding-left:18px;
    }
}