 a.deleteFilter:hover {
    text-decoration: line-through !important;
}

#main-nav-categories {
    padding:0;
}


.productbox {

}
    .product-img-wrapper {
    }
        .product-title
         , .product-subtitle {
            padding-left:14px;
            padding-right:14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom:2px;
        }
        .product-title {
            font-weight:bold;
        }

        .product-img-wrapper a {
            width:100%;
            height:120px;
            display:block;
            position:relative;
        padding-left:15px;
        padding-right:15px;
        }
            .product-img {
                max-width:120px;
                max-height:120px;
                position:absolute;
            }

    .buy-price-box {
        background-color:rgba(255, 255, 255, 0.5);
        min-height:120px;
        min-width:90px;
        padding-left:4px;
    }
        .price-wrapper {
        }
            .buy-price-box .price {
                font-size:1em;
            }
                .used-price {
                    color: red;
                }
                .new-price {
                    color: blueviolet;
                }
                .collectible-price {
                    color: green;
                }

/* XS */
@media (max-width: 767px) {
.productbox {

}
    .product-img-wrapper {
    }
        .product-title
        , .product-subtitle {
            width:90%;
            margin-left:18px;
        }

        .product-img-wrapper a {
            margin-left:18px;
        }
    .buy-price-box {
        position:relative;
    }
        .buy-price-box {
            position:absolute;
            right:0px;
            width:108px;
        }
            .starsbox {
                width:90px;
            }
}

/* SM, MD & LG */
@media (min-width: 768px) {
    .productbox {

    }
         .starsbox {
            margin-top:7px;
            text-align:center;
         }

         .product-img-wrapper {
         }
            .product-title
            , .product-subtitle {
                text-align:center;
            }
            .product-subtitle {
                padding-left:9%;
                padding-right:9%;
            }

                .product-img {
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                }
            .price-wrapper {
                text-align:center;
            }
 }