


.productbox {

}

    .product-img-wrapper {
    }
        .product-title {
            width:90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight:bold;
            margin-bottom:2px;
        }

        .product-img-wrapper a {
            width:100%;
            height:120px;
            display:block;
            position:relative;
        }
            .product-img {
                max-width:120px;
                max-height:120px;
                position:absolute;
            }

    .buy-price-box {
        background-color:rgba(255, 255, 255, 0.5);
        min-height:120px;
        min-width:90px;
        padding-left:4px;
    }
        .price-wrapper {
        }
            .buy-price-box .price {
                font-size:1.3em;
            }

/* XS */
@media (max-width: 768px) {
.productbox {

}
    .product-img-wrapper {
    }
        .product-title {
            margin-left:18px;
        }

        .product-img-wrapper a {
            margin-left:18px;
        }
    .buy-price-box {
        position:relative;
    }
        .buy-price-box {
            position:absolute;
            right:0px;
            width:108px;
        }
            .starsbox {
                width:90px;
            }
}

/* SM, MD & LG */
@media (min-width: 768px) {
    .productbox {

    }
         .starsbox {
             text-align:center;
         }

         .product-img-wrapper {
         }
            .product-title {
                text-align:center;
            }
                .product-img {
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                }
            .price-wrapper {
                text-align:center;
            }
 }