@(productInfo: ProductInfo)(implicit request: RequestHeader)

@header = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pages/productpage.css")" />
}
    @content = {

        <div id="product-page" class="row">
            <div class="col-md-4">
                <div class="product-info">
                    <div class="main-image">
                        <img src="@productInfo.images(0).fullSizeUrl" width="100%" />
                    </div>

                    @if(productInfo.images.size > 1) {
                        <div class="other-pictures">
                        @for(i <- 1 until productInfo.images.size) {
                            <div>
                                <img src="@productInfo.images(i).fullSizeUrl" />
                            </div>
                        }
                        </div>
                    }
                    <hr />
                    <div class="actions">
                        <a href="#">
                            <button type="button" class="btn btn-default">Favori <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-default">Alert prix <span class="glyphicon glyphicon-bell" aria-hidden="true"></span></button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-default">Partage <span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
                        </a>
                    </div>
                    <div class="description visible-lg visible-md">
                        @if(productInfo.description.isDefined) {
                            <p>@Html(productInfo.description.get)</p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h1 >@productInfo.headline</h1>
                <div class="starsbox visible-lg visible-md">
                @for(incr <- 1 to 5){
                    @if(productInfo.reviewsAverageNote >= incr) {
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    } else {
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    }
                }
                </div>
                <div class="clearfix"></div>
                <div class="product-adverts">
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                      @if(productInfo.buybox != null) {
                          <li role="presentation" class="active">
                            <a href="#buybox" aria-controls="home" role="tab" data-toggle="tab">Vendeur recommandé<br/> <span class="price">@productInfo.buybox.formattedSalePrice
                              € (occasion)</span></a>
                          </li>
                      }
                          @if(productInfo.buybox == null) {
                            <li role="presentation" class="active">
                        } else {
                          <li role="presentation">
                      }
                                <a href="#marketplace" aria-controls="profile" role="tab" data-toggle="tab">Autres vendeurs<br/>dès <span class="price">458€</span></a></li>
                            <li role="presentation" class="vendre visible-lg visible-md" style="float: right">
                                <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">Vendre<span class="caret"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents"> <li><a href="#dropdown1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">Ce produit</a></li> <li><a href="#dropdown2" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">Un autre produit</a></li> </ul>
                            </li>
                        </ul>
                        <div class="tab-content">
                          @if(productInfo.buybox != null) {
                            <div role="tabpanel" class="tab-pane fade in active" id="buybox">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="advert-price">
                                    <p class="price">@productInfo.buybox.formattedSalePrice
                                      € <span style="font-size: 17px">(@productInfo.buybox.state)</span></p>
                                    <p class="xcb">ou 3 x <span>68,33 €</span> par carte bancaire<br/>
                                      ou 5 x <span>42,58 €</span> avec 1euro.com</p>
                                    <span class="super-points" style="background-image: url( @routes.Assets.at("images/rsp.png") ) ;">@productInfo.buybox.rspMinimumAmount
                                      Super Points</span> à cumuler
                                  </div>
                                  <div class="advert-seller comment">
                                    <img src="@routes.Assets.at("images/avatars/Loki.png")" />
                                    <p>" @productInfo.buybox.sellerComment "</p>
                                    <a href="">Négocier le prix</a> - <a href="">Voir la boutique du vendeur</a>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="advert-shipping">
                                    <p><strong>En livraison</strong> <a href="#"> (voir tous les modes)</a> <br/>
                                      + @productInfo.buybox.formattedShippingAmount € (frais de port)</p>
                                    <a class="btn btn-danger btn-block add-to-cart-button btn-lg" href="#" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                      Ajouter au panier</a> <br/> <br/>
                                    <p><strong>Ou retrait en boutique</strong> <a href="#"> (voir tous les horaires)</a></p>
                                    <a class="btn btn-danger btn-block pick-up-button btn-lg" href="#" role="button"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                      Retrait en boutique</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        }
                            <div role="tabpanel" class="tab-pane fade" id="marketplace">
                                <div class="row">
                                    @for((advert, index) <- productInfo.adverts.zipWithIndex) {
                                        <div class="row advert">
                                            <div class="col-md-4">
                                                <p class="price redRakuten">@advert.formattedSalePrice €</p>
                                                <p class="xcb">ou 3 x <span class="redRakuten">68,33 €</span> par carte bancaire<br/>ou 5 x <span class="redRakuten">42,58 €</span> avec 1euro.com</p>
                                                <span class="super-points" style="background-image: url(@routes.Assets.at("images/rsp.png"));">@advert.rspMinimumAmount Super Points</span> à cumuler
                                            </div>
                                            <div class="col-md-4 comment">
                                                <img src="@routes.Assets.at("images/avatars/" + Avatar.map.get(index % 5).get)" />
                                                <p class="comment">" @advert.sellerComment "</p>
                                                <ul class="images">
                                                    @for(i <- 0 until Math.min(advert.images.size, 5)) {
                                                        <li><img width="100%" src="@advert.images(i).smallSizeUrl"></li>
                                                    }
                                                </ul>
                                                <a href="">Négocier le prix</a> - <a href="">Voir la boutique du vendeur</a>
                                            </div>
                                            <div class="col-md-4">
                                                <p><strong>En livraison</strong><a href="#"> (voir tous les modes)</a><br/>
                                                    + @advert.formattedShippingAmount € (frais de port)</p>
                                                <a style="width: 220px;" class="btn btn-danger btn-block add-to-cart-button btn-lg" href="#" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Ajouter au panier</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

@templates.layout("Rakuten France", content = content, header = header)
