@(productInfo: ProductInfo)(implicit request: RequestHeader)

@header = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pages/search.css")" />
}

@content = {
  <h1>@productInfo.headline</h1>



  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="@productInfo.images(0).imagesUrls.entry(1).url" class="img-responsive"/>
        @*<ul>*@
          @*for((image) <- productInfo.images) {*@
            @*<li><img src="@image.imagesUrls.entry(3).url"></li>*@
          @*}*@
        @*</ul>*@
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>

  @*Adverts list*@
  <div class="content-fluid">
    @for((advert, index) <- productInfo.adverts.zipWithIndex) {
      <div class="row">
        <div class="col-xs-2">
          @advert.formattedSalePrice - @advert.formattedShippingAmount
        </div>
        <div class="col-xs-6">
          @advert.sellerComment
          <ul>
            @for((image) <- advert.images) {
              <li><img src="@image.imagesUrls.entry(1).url" class="img-responsive"></li>
            }
          </ul>
        </div>
        <div class="col-xs-2">

        </div>
        <div class="col-xs-2">
          <a href="#" class="btn btn-primary btn-sm btn-block" role="button">Add to <span class="glyphicon glyphicon-shopping-cart"></span></a>
        </div>

      </div>
    }
  </div>

  @* Fiche technique *@
  @if(productInfo.description.isDefined) {
  <p>
    @Html(productInfo.description.get)
  </p>
  }
}

@templates.layout("Rakuten France", content = content, header = header)