@(keyword: String, navigationResult: NavigationResult)(implicit request: RequestHeader)

@header = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pages/search.css")" />
}
@content = {

    @if(navigationResult.products.size == 0){
        <div class="well center-block text-center">
            <h1>Pas de résultats pour <br/>« <em>@keyword</em> »</h1>
        </div>
    }else{

        <div class="well center-block text-center">
            <h1>Résultats de recherche pour <br/><span class="unbrokable-space">« </span><em>@keyword</em><span class="unbrokable-space"> »</span></h1>

            <div id="select-advtype-buttons" class="btn-group" role="group" aria-label="...">

                <button id="select-advtype-button_ALL" type="button" class="btn btn-default active" onclick="example.NavigationAjaxJS().getProductsByAdvertType('@keyword', 'ALL')">Tout</button>

                @if(navigationResult.hasNewProducts){
                    <button id="select-advtype-button_NEW" type="button" class="btn btn-default" onclick="example.NavigationAjaxJS().getProductsByAdvertType('@keyword', 'NEW')">Neuf</button>
                }else{
                    <button type="button" disabled="disabled" class="btn btn-default">Neuf</button>
                }

                @if(navigationResult.hasUsedProducts){
                    <button id="select-advtype-button_USED" type="button" class="btn btn-default" onclick="example.NavigationAjaxJS().getProductsByAdvertType('@keyword', 'USED')">Occasion</button>
                }else{
                    <button type="button" disabled="disabled" class="btn btn-default">Occasion</button>
                }
            </div>
        </div>


        <div id="productListing" class="content-fluid">
            @tags.productListing(keyword, navigationResult)
        </div>
    }
}
@templates.layout("Rakuten France", content = content, header = header)
