@(keyword: String, category: String, navigationResult: NavigationResult)(implicit request: RequestHeader)

@header = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pages/search.css")" />
}
@content = {

    <div class="row">
        <div id="filtersbar" class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div>
                            <a class="navbar-brand" href="#">Filtres</a>
                        </div>
                        <button type="button" class="navbar-toggle collapsed"
                                data-toggle="collapse" data-target="#main-nav-categories">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main-nav-categories">
                        <div class="clearfix"></div>
                        <div class="list-group">
                            @if(navigationResult.isLocalSearch){
                                <a class="deleteFilter list-group-item" href="/nav/@category">Supprimer "@keyword"</a>
                                <a class="deleteFilter list-group-item" href="/s/@keyword">Supprimer "@navigationResult.formattedCategory"</a>
                            }
                            @if(navigationResult.isNav && navigationResult.removeLastCategoryUrl != ""){
                                <a class="deleteFilter list-group-item" href="/nav/@navigationResult.removeLastCategoryUrl">Supprimer la dernière catégorie</a>
                            }
                            @for(cat <- navigationResult.categories){
                                @if(navigationResult.isSearch || navigationResult.isLocalSearch){
                                    <a href="/s/@keyword?nav=@cat.name" class="list-group-item">@cat.label (@cat.productsCount)</a>
                                }else{
                                    <a href="/nav/@cat.name" class="list-group-item">@cat.label (@cat.productsCount)</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </nav>
        </div><!-- /.blog-sidebar -->


        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            @if(navigationResult.products.size == 0){
                <div class="well center-block text-center">
                    @if(navigationResult.isLocalSearch){
                        <h1>Pas de résultats pour <br/>« <em><a href="/s/@keyword">@keyword</a></em> » dans la catégorie <em><a href="/nav/@category">@navigationResult.formattedCategory</a></em></h1>
                    }
                    @if(navigationResult.isNav){
                        <h1>Pas de résultats dans la catégorie  <br/>« <em><a href="/nav/@category">@navigationResult.formattedCategory</a></em> »</h1>
                    }
                    @if(navigationResult.isSearch){
                        <h1>Pas de résultats pour <br/>« <em>@keyword</em> »</h1>
                    }
                </div>
            }else{

                <div class="well center-block text-center">
                    @if(navigationResult.isLocalSearch){
                        <h1>Résultats de recherche pour <br/><span class="unbrokable-space">« </span><em><a href="/s/@keyword">@keyword</a></em><span class="unbrokable-space"> »</span> dans <em><a href="/nav/@category">@navigationResult.formattedCategory</a></em></h1>
                    }
                    @if(navigationResult.isNav){
                        <h1>Résultats dans la catégorie <br/><span class="unbrokable-space">« </span><em><a href="/nav/@category">@navigationResult.formattedCategory</a></em><span class="unbrokable-space"> »</span></h1>
                    }
                    @if(navigationResult.isSearch){
                        <h1>Résultats de recherche pour <br/><span class="unbrokable-space">« </span><em><a href="/s/@keyword">@keyword</a></em><span class="unbrokable-space"> »</span></h1>
                    }

                    <div id="select-advtype-buttons" class="btn-group" role="group" aria-label="...">

                        <button id="select-advtype-button_ALL" type="button" class="btn btn-default active" onclick="example.NavigationAjaxJS().getProductsByAdvertType('@keyword', '@category', 'ALL')">Tout</button>

                        @if(navigationResult.hasNewProducts){
                            <button id="select-advtype-button_NEW" type="button" class="btn btn-default" onclick="example.NavigationAjaxJS().getProductsByAdvertType('@keyword', '@category', 'NEW')">Neuf</button>
                        }else{
                            <button type="button" disabled="disabled" class="btn btn-default">Neuf</button>
                        }

                        @if(navigationResult.hasUsedProducts){
                            <button id="select-advtype-button_USED" type="button" class="btn btn-default" onclick="example.NavigationAjaxJS().getProductsByAdvertType('@keyword', '@category', 'USED')">Occasion</button>
                        }else{
                            <button type="button" disabled="disabled" class="btn btn-default">Occasion</button>
                        }
                    </div>
                </div>


                <div id="productListing" class="content-fluid">
                @tags.productListing(keyword, category, navigationResult)
                </div>
            }
        </div>
    </div>
}
@templates.layout("Rakuten France", content = content, header = header)
